[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyrchain = {path = ".",extras = ["dev"],editable = true}

[packages]
pyrchain = {path = ".",editable = true}

[requires]
python_version = "3.7"
