[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyrchain = {editable = true,extras = ["dev"],path = "."}

[packages]
pyrchain = {editable = true,path = "."}

[requires]
python_version = "3.7"
